html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
}
.App {
  padding-top: 48px;
}

.Home {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  min-height: calc(100vh - 48px);
}

.nav-container {
  margin: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none !important;
}

.communityLabel {
  padding: 55px 0 30px !important;
}

.subjectLabel {
  padding: 40px 0 20px 0 !important;
}

.todoRemove {
  border: #ccc solid 0.7px;
  background-color: #fff8;
  border-radius: 50%;
  padding: 1px;
  margin-left: 10px;
  font-size: 17px !important;
}

.Empty {
  padding: 100px 20px;
}

.cardContent {
  margin-top: 50px;
}

.MuiGrid-spacing-xs-4 > .MuiGrid-item {
  margin-top: 0px;
}

.subjectCard {
  display: block !important;
  width: 100%;
  border: solid 0.7px rgba(255, 255, 255, 0.055);
  border-top: solid 2px rgba(255, 255, 255, 0.4);
  border-bottom: solid 0.7px rgba(224, 224, 224, 0.5);
  border-radius: 7px;
  box-shadow: 0px 8px 15px 0px rgba(75, 75, 75, 0.08) !important;
  padding: 23px;
  margin: 30px;

  /* override *********************/
  font-size: 1.15rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.0075em;
  transition: all 0.4s ease;
}

.subBtn .MuiButton-root {
  padding: 0 !important;
  margin: 0 !important;
  width: 100%;
}

.subBtn .MuiButton-root:hover {
  background-color: transparent;
}

.subjectCard:hover {
  box-shadow: 0px 3px 7px 0px rgba(71, 71, 71, 0.144) !important;
  border: solid 0.7px rgba(255, 255, 255, 0.055);
  border-top: solid 2px rgba(255, 255, 255, 0.2);
  border-bottom: solid 0.7px rgba(214, 214, 214, 0.5);
  cursor: pointer;
}

.bottomNav {
  position: fixed;
  bottom: 0;
}

.popContent {
  height: 98vh;
}
@media (max-width: 960px) {
  .subjectCard {
    margin: 24px;
  }

  body {
    margin: 900px;
  }

  .cardContent {
    margin-top: 20px;
  }

  .popContent {
    height: 100vh;
  }
}

@media (max-width: 360px) {
  .subjectCard {
    font-size: 0.95rem;
    margin: 15px;
    padding: 20px;
  }

  .subjectLabel {
    padding: 30px 0 10px 0 !important;
  }
}
/* git add . && git commit -am " " */

/* to center Grid on firefox */
.MuiGrid-justify-xs-center {
  margin: auto !important;
}

.MuiDialog-paperFullScreen {
  background-color: rgb(209, 209, 209) !important;
}

.link {
  font-size: 11px;
  padding: 2px;
  font-weight: 400 !important;
}

.original {
  margin-bottom: 5px;
}
.original .MuiTypography-colorPrimary {
  color: rgb(36, 251, 180) !important;
}
.contentPapers {
  margin: 5px 0px;
  border-bottom: 1px solid #777;
  padding: 10px 4px;
}
/* .searchMA {

} */
.MAresults {
  border-radius: 7px;
  border-left: solid #777 1px;
  border-top: solid #777 1px;
  height: calc(100vh - 150px);
  overflow: auto;
}
