.col1 {
  color: #fff !important;
}

.bcol1 {
  background-color: #fff !important;
}
.col2 {
  color: #d72323 !important;
}
.col3 {
  color: #db4747;
}
.col4 {
  color: #801336 !important;
  font-size: small !important;
}
.gray {
  color: #aaa !important;
}
.thirdcolor {
  color: #00419c;
}
.nestedItem {
  background-color: #aaa !important;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  /* background-color: #e6f4fb; */
  /* background: linear-gradient(90deg, #ebfffb 0%, #fff, #fff, #ebfffb 100%); */
  background: radial-gradient(ellipse at top, #fff, #fff, #bfeefa);
  min-height: 100vh;
  margin: 0;
  padding: 0;
  max-width: 100%;
}
html {
  scroll-behavior: smooth;
}

.nav-container {
  margin: auto;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none !important;
}

.addmargin {
  margin: 2px auto;
}
.center {
  justify-content: center;
}

.updowm:hover {
  background-color: #f07b3f;
  color: #fff;
}
.margin {
  padding: 0 !important;
}

.warning {
  text-align: center;
  font-size: 1.4 em;
  color: rgb(170, 0, 0);
  font-weight: bold;
  text-transform: capitalize;
  padding: 60px;
}
.Zindex {
  z-index: 0 !important;
}
.z-10 {
  z-index: 100 !important;
  opacity: 1;
}
.communityLabel {
  padding: 55px 0 30px !important;
}
.subjectLabel {
  padding: 30px 0 10px 0 !important;
}

.todoRemove {
  border: #ea545479 solid 0.7px;
  background-color: #ff00000a;
  border-radius: 50%;
  padding: 1px;
  margin-left: 10px;
  font-size: 17px !important;
}

.m20 {
  margin: 20px !important;
}

.mt-5 {
  margin-top: 20px;
}

.MuiGrid-spacing-xs-4 > .MuiGrid-item {
  margin-top: 0px;
}

.subjectCard {
  border-radius: 12px;
  box-shadow: 0px 10px 20px 0px rgba(75, 75, 75, 0.15) !important;
  padding: 25px;
  margin: 30px;

  color: #555;
  font-size: 1.25rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.0075em;
  transition: all 0.3s ease;
}
.subjectCard:hover {
  box-shadow: 0px 4px 8px 0px rgba(71, 71, 71, 0.2) !important;
  cursor: pointer;
  color: #000;
}
.subject0 {
  background: radial-gradient(ellipse at top, #fff, rgb(253, 196, 196));
}

.subject1 {
  background: radial-gradient(ellipse at top, #fff, rgb(191, 250, 194));
}
.subject2 {
  background: radial-gradient(ellipse at top, #fff, rgb(255, 251, 194));
}
.subject3 {
  background: radial-gradient(ellipse at top, #fff, rgb(202, 250, 255));
}
.subject4 {
  background: radial-gradient(ellipse at top, #fff, rgb(241, 202, 253));
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  min-height: 91vh;
}

/* git add . && git commit -am " " */
/* 00419C */

@media (max-width: 960px) {
  .subjectCard {
    margin: 24px;
  }
  body {
    margin: 900px;
  } 
}

@media (max-width: 360px) {
  .subjectCard {
    font-size: 0.95rem;
    margin: 15px;
    padding: 20px;
  }
  .App {
    min-height: 90vh;
  }
}
