
.todoRemove{
    border: #ea545479 solid 0.7px;
    background-color:#ff00000a ;
    border-radius: 50%;
    padding: 1px;
    margin-left: 10px;
}
.cardContent{
    width: 100%;
    background-color: #ffffff57;
    padding: 0 10px 10px 10px;
    border-radius: 30px;
}
.cardContainer{
    z-index: -4 !important;
}
.float{
    z-index: 10000;
}