.col1{
    color: #ffd460;
    
}
.col2{
    color: #f07b3f;
}
.col3{
    color: #ea5455;
}
.col4{
    color: #2d4059;
}

.todoRemove{
    border: #ea545479 solid 0.7px;
    background-color:#ff00000a ;
    border-radius: 50%;
    padding: 1px;
    margin-left: 10px;
}
.cardContent{
    width: 100%;
    background-color: #ffffff57;
    padding: 0 10px 10px 10px;
    border-radius: 30px;
}