.section {
  display: inline-block;
  text-align: left;
  vertical-align: top;
  margin: 10px;
}

.player-wrapper {
  width: 480px;
  height: 270px;
}

.react-player {
  margin-bottom: 10px;
  background: rgba(0, 0, 0, .1);
}
