.section {
  display: inline-block;
  text-align: left;
  vertical-align: top;
  margin: 10px;
  width: 40%;
}

.player-wrapper {
  text-align: center;
  margin: 40px auto;
  width:85vw ;
  height:40vw;
}

.react-player {
  margin-bottom: 10px;
  background: rgba(0, 0, 0, .1);
}