.fill{
    margin: 20px;
    padding: 20px 40px;
    background-color: #fff;
    border-radius: 6px;
}
.fill .form {
    margin: 20px 0;
}
.addPlayList{
    margin: 60px 0;
}
.addVideo{
    margin: 30px  0 ;
}