body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
sans-serif;
overflow-x: hidden;
}

.container{
  margin: 20px auto 0 auto;
}

.nav-container{
  margin: auto;
}

body{
  background-color: #e6f4fb;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: none !important;
}

.addmargin{
  margin:2px auto
}
.center{
  justify-Content: center;
}
.updowm{
  transform: ease 3s;
}
.updowm:hover{
  background-color: #1769aa;
  color: #fff;

}

/* git add . && git commit -am " " */