.wiki {
  background-color: #222;
  color: #eee;
  padding: 1px;
  min-height: calc(100vh - 48px);
}

.wiki .link {
  font-weight: 900;
}

.wbold {
  font-weight: 900;
  color: #fff;
}

.text {
  margin: 7px 0;
}

.wikisearch {
  text-align: center;
  margin: 20px 0;
}

.wikisearch .MuiInputBase-root {
  padding: 0 !important;
  margin: 10px;
  color: #eee !important;
}

.wikisearch .MuiOutlinedInput-input {
  padding: 8px !important;
  color: #eee !important;
}

.wikisearch .MuiFormLabel-root {
  color: #ddd !important;
}

.results {
  text-align: center;
  margin: auto;
  border: solid red;
}
