.wiki {
  background-color: #222;
  color: #eee;
  padding: 20px;
  min-height: 92.5vh;
}

.wikisearch {
  text-align: center;
  margin: 20px 0;
}

.wikisearch .MuiInputBase-root {
  padding: 0 !important;
  margin: 10px;
  color: #eee !important;
}

.wikisearch .MuiOutlinedInput-input {
  padding: 8px !important;
  color: #eee !important;
}
.wikisearch .MuiFormLabel-root {
  color: #ddd !important;
}
